@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore

@page "/actorDetails/{actorId}"

<h3>ActorDetails</h3>
<div align="center" class="container">
    @if (actor != null)
     {
        <ul>
        @foreach (var movie in actor.Movies)
        {
            <li>@movie.Name</li>
        }
        </ul>
     }
</div>

    @code {
        [Parameter]
        public string actorId { get; set; }

        public Actor actor { get; set; }

        protected override async Task OnInitializedAsync()
        {
            await Method();
        }

        public async Task Method()
        {
            using (var db = new ApplicationContext())
            {
                actor = db.Actors.Include(a => a.Movies).Where(a => a.Id == actorId).Single();
            }
        }
    }
