@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore

@page "/directorDetails/{directorId}"

@if (director != null)
{
    <h3>DirectorDetails: @director.Name</h3>
    <div align="left" class="container">
        <ul>
            @foreach (var movie in director.Movies)
            {
                <li><a href="/searchfilmbyname/@movie.Name">@movie.Name</a></li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public string directorId { get; set; }

    public Director director { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Method();
    }

    public async Task Method()
    {
        using (var db = new ApplicationContext())
        {
            director = db.Directors.Include(d => d.Movies).Where(d => d.Id == directorId).Single();
        }
    }
}
