@page "/"

<h1>Привет, мир!</h1>
 <br />
<h3>Добро пожаловать на веб-сервис по поиску фильмов</h3>
<br /> <br />
<button type="button" class="btn btn-primary btn-lg btn-block"><a href="searchfilmbyname">Начать поиск</a></button>
