@page "/searchfilmbyname"
@page "/searchfilmbyname/{valueSearch}"
@using Microsoft.Extensions.Configuration
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging

<h3>Страница поиска фильма по названию</h3>

<div class="input-group">
    <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" @bind="ValueSearch" />
    <button @onclick="Func" type="button" class="btn btn-outline-primary">Search</button>
</div>


@code {
    [Parameter]
    public string? ValueSearch { get; set; }
    List<string> movieNames { get; set; }


    public void Func()
    {
        NavigationManager.NavigateTo($"/searchfilmbyname/{ValueSearch}");
        using (MyMovies.ApplicationContext db = new MyMovies.ApplicationContext())
        {
            movieNames = db.Movies.Where(movie => movie.Name.Contains(ValueSearch)).Select(movie => movie.Name).ToList();
        }
    }
}
