@page "/searchFilm/{ValueSearch}"
@page "/searchFilm"
@inject NavigationManager NavigationManager 

<h3>SearchFilm</h3>

<div class="input-group">
    <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" @bind="ValueSearch" />
    <button @onclick="Func" type="button" class="btn btn-outline-primary">Search</button>
</div>

<p>@responseBody</p>


@code {
    [Parameter]
    public string ValueSearch { get; set; }
    public static string responseBody { get; set; } = "";

    static HttpClient client = new HttpClient();

    public async void Func()
    {
        NavigationManager.NavigateTo($"/searchFilm/{ValueSearch}");
        await GetContent();
    }

    private async Task GetContent()
    {
        HttpResponseMessage response = await client.GetAsync("http://127.0.0.1:26382/api/Movie/" + $"{ValueSearch}");
        response.EnsureSuccessStatusCode();
        responseBody = await response.Content.ReadAsStringAsync();
    }
}
